@import "tailwindcss";

@font-face {
  font-family: "Pixel";
  src: url("../assets/PixelOperatorMono8-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pixel: "Pixel", monospace;
}

.font-pixel {
  font-family: var(--font-pixel);
}