# Ignore python environment files
***/__pycache__/
***/.pyc
***/.pyo
***/.pyd
***/.db
***/.sqlite3
***/venv

# Ignore temporary files
***/.tmp
***/.bak
***/.swp

# Ignore custom files
./srcs/volumes
**/dist
***/.venv/
***/.env/
***/volumes/
node_modules

.DS_Store
***/.secrets
***/.env

***/secrets/
***/env/
