<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login API</title>
  </head>
  <body>
    <div class="api-connexion">
      <form method="POST" action="/connect">
        <div class="text-box">
          <span>Public key:</span>
          <input type="text" name="password" required />
        </div>
        <button type="submit">Connect</button>
      </form>
      <form method="GET" action="/oauth/42">
        <button type="submit">api42</button>
      </form>
      <form method="POST" action="/registration">
        <button type="submit">Register</button>
      </form>
      <form method="POST" action="/login">
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
