<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login API</title>
  </head>
  <body>
    <div class="lobby">
      <form method="POST" action="/join_lobby">
        <label for="code">Join lobby:</label>
        <input type="password" id="code" name="code" required maxlength="255" size="10" />
        <button type="submit">Join</button>
      </form>
      <form method="POST" action="/create_lobby">
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
